
.card-signin {
    top:150px;
  }

  body{
		background-color: #343a40;
		background-image: linear-gradient(#868e96, #343a40);
		background: radial-gradient( #343a40, #495057) no-repeat center center fixed; 
  }
